<nav class="navbar navbar-dark navbar-expand-sm  fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#" class="navbar-brand mr-auto">To Do List</a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item " *ngIf="token == true"><a (click)="Logout()" class="nav-link" href="#" style="cursor: pointer;"><span class="fa fa-sign-out"  ></span> Logout</a></li>
                <li class="nav-item" *ngIf="token == false"><a data-toggle="modal" data-target="#todoLogin" class="nav-link"><span class="fa fa-sign-in"></span> Login</a></li>
                <li class="nav-item" *ngIf="token == false"><a  class="nav-link" data-toggle="modal" data-target="#todoRegistrationForm"><span class="fa fa-user"></span> SignUp</a></li>
                <li class="nav-item"><a data-toggle="modal" data-target="#todoCreateModal" class="nav-link" ><span class="fa fa-plus"></span> Add a Todo </a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" *ngIf="token == false" style="margin-top: 50px;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block img-fluid " src="https://i.ibb.co/Wn75swS/photo-2020-06-02-18-56-41.jpg" alt="First slide">
          </div>
        </div>
      </div>
</div>
 
  

<div class="container col-12" >
    <h3  *ngIf="token == true "><hr></h3>    
    <div class="container" >
        <div class="row" style="padding: 20px 0px 0px 0px;" *ngIf="token == true">
                <div class="container">
                    <div class="row">
                        <div class=" col-8">
                            <h3 style="color: #169bd1;" *ngIf="token == true && archieve == false">Your Todo's</h3>
                            
                            <h3 style="color: #169bd1;" *ngIf="token == true && archieve == true">Your Archive's</h3>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <button class="btn btn-info center-block" *ngIf="archieve == false" style="margin: 10px 0px 10px auto;" data-toggle="modal" data-target="#todoCreateModal"><span class="fa fa-plus"></span> Add a Todo</button>  
                                <button class="btn btn-info center-block" *ngIf="archieve == false" style="margin: auto;" (click)="ArchieveShow()"><span class="fa fa-archive" ></span> Show Archive</button>            
                                <button class="btn btn-info center-block" *ngIf="archieve == true" style="margin: 10px 38px 10px auto;" (click)="ArchieveHide()"><span class="fa fa-archive"></span> Hide Archive </button>  
                            </div>          
                        </div>
                       
                    </div>
                </div>
            </div>
          <h3 *ngIf="token == true"><hr></h3>

            
          
          
          <form class="form-inline" *ngIf="token == true && archieve == false">
            <input class="form-control " type="search" placeholder="Search" id="filtersearch">
            <select class="custom-select" id="filterstatus">
                <option value="" disabled selected>Status As... </option>
                <option value="">None</option>
                <option value="1">Start</option>
                <option value="3">OnGoing</option>
                <option value="2">Done</option>
              </select>
              <select class="custom-select" id="filterlabel">
                <option value="" disabled selected>Priority As... </option>
                <option value="">None</option>
                <option value="1">High</option>
                <option value="3">Medium</option>
                <option value="2">Low</option>
              </select>            
              <select class="custom-select" id="filtercolor">
                <option value="" disabled selected>Tag As...</option>
                <option value="">None</option>
                <option value="1">Personal</option>
                <option value="2">Professional</option>
                <option value="3">Work</option>
                <option value="4">Shopping</option>
                <option value="5">Others</option>
              </select>
            
            <button class="btn btn-outline-info" type="submit" (click)="OnFilter()">Apply</button>
          </form>
          <br>
          <br>
          <div class="col-12 " *ngIf="token == false">
          <header class="jumbotron bg-info align-self-center" style="max-width: 920px; ">
              <div class="container ">
                  <div class="row row-header ">
                      <div class="col-12 col-sm-6">
                          <h1>Todo Management</h1>
                          <p>Create Your well organised Todo list here. <br>Get Productive at your Mundane tasks with Us.</p>
                      </div>
                      <div class ="col-12 col-sm-6 align-self-center"> 
                          <a role="button" class="btn btn-block nav-link btn-warning" data-toggle="modal" data-target="#todoLogin">Login</a> 
                          <a role="button" class="btn btn-block nav-link btn-warning" data-toggle="modal" data-target="#todoRegistrationForm">Sign-Up</a> 
      
                     </div>
      
                  </div>
              </div>
          </header>
          </div>
          <div class="row" *ngIf="token == true &&  archieve == false" >
            <h4 style="color: #169bd1;margin: 0px 0px 20px 40px;">Total ({{data.count}})</h4>
          </div>
          <div>
            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner> 
            <img class="d-block img-fluid " *ngIf="data.data == 0 && archieve == false" src="https://i.ibb.co/bPMBH47/content-not-found.png" alt="">
          </div>

          

        <div class="container"> 
        <div class="row" *ngIf="token == true && archieve == false">
          <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12" *ngFor="let a of data.data; let i = index"  style="padding: 0px 0px 20px 0px;" >

            <div class="card border-info mb-3" style="min-width: 20rem;margin-left: 1rem!important;margin-right: 1rem!important"  >
              <div class="card-header ">
                  <div class="row" >  
                      <h4 style="margin: auto;">{{a.Title}}</h4>
                      <!--span class="col-lg-5 col-md-6 col-sm-6 " >
                          <a style="padding: 3px;" type="button" (click)="use(i)" class="" data-toggle="tooltip" data-placement="top" title="Update">
                              <span class="fa fa-pencil-square-o" data-toggle="modal" data-target="#todoUpdateModal"></span>
                          </a>
                          <a style="padding: 3px;" type="button" (click)="delete(a.id)" class="" data-toggle="tooltip" data-placement="top" title="Delete">
                              <span class="fa fa-trash"></span>
                          </a>
                          <a style="padding: 3px;" type="button" (click)="archive(a.id)" class="" data-toggle="tooltip" data-placement="top" title="Archive">
                              <span class="fa fa-archive"></span>
                          </a>
                      </span-->
                  </div>
                </div>
              
                <div class="card-content" >
                
                    <div class="row">
                        <h6 style="margin: 20px auto;">{{a.Description}}</h6>
                    </div>
                    <div class="row ">
                        <div class="col-6">
                            <div class="row">
                                <h6 style="margin: 5px 20px 5px auto;">Priority As :</h6>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row">
                                <p style="margin: 5px auto 5px 0px;"><span style="border: 3px solid #169bd1;border-radius: 8px;padding: 0px 15px 0px 15px;margin: 0px 0px 0px 5px">{{a.label}}</span></p>
                            </div>
                        </div>

                    </div>
                    <div class="row ">
                        <div class="col-6">
                            <div class="row">
                                <h6 style="margin: 5px 20px 5px auto;"> Status As : </h6>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row">
                                <p style="margin: 5px auto 5px 0px;"><span style="border: 3px solid #169bd1;border-radius: 8px;padding: 0px 15px 0px 15px;margin: 0px 0px 0px 5px">{{a.Status}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6">
                            <div class="row">
                                <h6 style="margin: 5px 20px 5px auto;"> Tag As : </h6>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="row">
                                <p style="margin: 5px auto 5px 0px;"><span style="border: 3px solid #169bd1;border-radius: 8px;padding: 0px 15px 0px 15px;margin: 0px 0px 0px 5px">{{a.Color}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <div class="row">
                                <h6 style="margin:5px auto;"> Remind : </h6>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="row">
                                <p style="margin: 5px auto ;"><span style="border: 3px solid #169bd1;border-radius: 8px;padding: 0px 15px 0px 15px;margin: 0px 0px 0px 5px">{{a.Remind | date:'medium':'GMT'}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <div class="row">
                                <h6 style="margin:5px auto;"> DueDate : </h6>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="row">
                                <p style="margin: 5px auto ;"><span style="border: 3px solid #169bd1;border-radius: 8px;padding: 0px 15px 0px 15px;margin: 0px 0px 0px 5px">{{a.DueDate | date:'medium':'GMT'}}</span></p>
                            </div>
                        </div>
                    </div>
                    <!--div class="row">
                        <button style="margin: 10px auto 10px auto;" type="button btn-info" class="btn btn-outline-info"
                        ngbPopover=" Remind : {{a.Remind | date:'medium':'GMT'}}  DueDate : {{a.DueDate | date:'medium':'GMT'}}" popoverTitle="Detailed Info">
                        More Info
                        </button>
                    </div-->

                </div>
                <div class="card-footer" >
                    <p class="row" style="margin-bottom: 0px;">
                            <a style="margin: 5px auto; color: #169bd1;" type="button" (click)="use(i)" class="" data-toggle="tooltip" data-placement="top" title="Update">
                                <span class="fa fa-pencil-square-o" data-toggle="modal" data-target="#todoUpdateModal"> Update</span>
                            </a>
                            <a style="margin: 5px auto; color: #169bd1;"  type="button" (click)="delete(a.id)" class="" data-toggle="tooltip" data-placement="top" title="Delete">
                                <span class="fa fa-trash"> Delete</span>
                            </a>
                            <a style="margin: 5px auto;color: #169bd1;" type="button" (click)="archive(a.id)" class="" data-toggle="tooltip" data-placement="top" title="Archive">
                                <span class="fa fa-archive"> Archive</span>
                            </a>
                    </p>
                    
                </div>


        
            </div>
        </div>
      
      
        </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row" *ngIf="token == true &&  archieve == true" >
            <h4 class="col-12" style="color: #169bd1;margin: 0px 0px 20px 40px;">Total ({{archivedata.count}})</h4>
        </div>
    </div>

    <div>
        <img class="d-block img-fluid " *ngIf="archivedata.data == 0  &&  archieve == true" src="https://i.ibb.co/bPMBH47/content-not-found.png" alt="">

      </div>
    <div class="container">
        <!--div class="row"  *ngIf="token == true &&  archieve == true && archivedata.data != 0">
            <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <h5 style="color:#169bd1;">Your Archives</h5>
                    </div>
            </div>
            </div>
        </div-->
        <br>
            <div class="container"> 
                <div class="row" *ngIf="token == true && archieve == true">
                  <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12" style="padding: 0px 0px 20px 0px;" *ngFor="let a of archivedata.data" >
                    <div class="card border-info mb-3"  style="min-width: 20rem;margin-left: 1rem!important;margin-right: 1rem!important"  >
                        <div class="card-header ">
                            <div class="row" >  
                                <h4 style="margin: auto;">{{a.Title}}</h4>
                                <!--span class="col-lg-5 col-md-6 col-sm-6 " >
                                    <a style="padding: 3px;" type="button" (click)="use(i)" class="" data-toggle="tooltip" data-placement="top" title="Update">
                                        <span class="fa fa-pencil-square-o" data-toggle="modal" data-target="#todoUpdateModal"></span>
                                    </a>
                                    <a style="padding: 3px;" type="button" (click)="delete(a.id)" class="" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                    <a style="padding: 3px;" type="button" (click)="archive(a.id)" class="" data-toggle="tooltip" data-placement="top" title="Archive">
                                        <span class="fa fa-archive"></span>
                                    </a>
                                </span-->
                            </div>
                          </div>
                        
                        <div class="card-content" >
                
                            <div class="row">
                                <h6 style="margin: 20px auto;">{{a.Description}}</h6>
                            </div>
                            <div class="row ">
                                <div class="col-6">
                                    <div class="row">
                                        <h6 style="margin: 5px 20px 5px auto;">Priority As :</h6>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="row">
                                        <p style="margin: 5px auto 5px 0px;"><span style="border: 3px solid #169bd1;border-radius: 8px;padding: 0px 15px 0px 15px;margin: 0px 0px 0px 5px">{{a.label}}</span></p>
                                    </div>
                                </div>
        
                            </div>
                            <div class="row ">
                                <div class="col-6">
                                    <div class="row">
                                        <h6 style="margin: 5px 20px 5px auto;"> Status As : </h6>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="row">
                                        <p style="margin: 5px auto 5px 0px;"><span style="border: 3px solid #169bd1;border-radius: 8px;padding: 0px 15px 0px 15px;margin: 0px 0px 0px 5px">{{a.Status}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-6">
                                    <div class="row">
                                        <h6 style="margin: 5px 20px 5px auto;"> Tag As : </h6>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="row">
                                        <p style="margin: 5px auto 5px 0px;"><span style="border: 3px solid #169bd1;border-radius: 8px;padding: 0px 15px 0px 15px;margin: 0px 0px 0px 5px">{{a.Color}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12">
                                    <div class="row">
                                        <h6 style="margin:5px auto;"> Remind : </h6>
                                    </div>
                                </div>
                                <div class="col-12 ">
                                    <div class="row">
                                        <p style="margin: 5px auto ;"><span style="border: 3px solid #169bd1;border-radius: 8px;padding: 0px 15px 0px 15px;margin: 0px 0px 0px 5px">{{a.Remind | date:'medium':'GMT'}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12">
                                    <div class="row">
                                        <h6 style="margin:5px auto;"> DueDate : </h6>
                                    </div>
                                </div>
                                <div class="col-12 ">
                                    <div class="row">
                                        <p style="margin: 5px auto ;"><span style="border: 3px solid #169bd1;border-radius: 8px;padding: 0px 15px 0px 15px;margin: 0px 0px 0px 5px">{{a.DueDate | date:'medium':'GMT'}}</span></p>
                                    </div>
                                </div>
                            </div>
        
                            <!--div class="row">
                                <button style="margin: 10px auto 10px auto;" type="button btn-info" class="btn btn-outline-info"
                                ngbPopover="Remind : {{a.Remind | date:'medium':'GMT'}}  DueDate : {{a.DueDate | date:'medium':'GMT'}}" popoverTitle="Detailed Info">
                                More Info
                                </button>
                            </div-->
                            </div>
                        <div class="card-footer">
                            <p class="row" style="margin-bottom: 0px;">
                                    <a style="margin: 5px auto;"  type="button" (click)="delete(a.id)" class="" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <span class="fa fa-trash"> Delete</span>
                                    </a>
                                    <a style="margin: 5px auto;" type="button" (click)="unArchive(a.id)" class="" data-toggle="tooltip" data-placement="top" title="Archive">
                                        <span class="fa fa-archive"> Un-Archive</span>
                                    </a>
                            </p>
                           
                        </div>
                        </div>
                    </div>
                  </div>
      
      
                </div>
            </div>
    
        
<div id="todoUpdateModal" class="modal fade" role="dialog">
    <div class="modal-dialog " role="content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">To-Do Update </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form  *ngIf="token == true" #todoUpdateForm="ngForm" (ngSubmit)="OnSubmit(todoUpdateForm)">
                    <div class="form-group">
                      <label for="Title">Title</label>
                      <input id="Title" type="text" class="form-control " name="Title" #Title="ngModel" [(ngModel)]="todo.Title" required >
                    </div>
                    <div class="form-group">
                        <label for="Description"> Description</label>
                        <textarea id="Description" rows="5" class=" form-control " type="text" name="Description" #Description="ngModel" [(ngModel)]="todo.Description" required  ></textarea>
                    </div>                  
                    <div class="form-group">
                        <label for="">Status as</label>
                        <select class="mdb-select md-form form-control" id="Status" name="Status" #Status="ngModel" [(ngModel)]="todo.Status" required>
                            <option value="" disabled selected>Set Status As</option>
                            <option value="1">Start</option>
                            <option value="3">OnGoing</option>
                            <option value="2">Done</option>
                        </select>
                      </div>                        
                    <div class="form-group">
                        <label for="">Tag As</label>
                        <select class="mdb-select md-form form-control" id="Color" name="Color" #Color="ngModel" [(ngModel)]="todo.Color" required>
                            <option value="" disabled selected>Set Tag As</option>
                            <option value="1">Personal</option>
                            <option value="2">Professional</option>
                            <option value="3">Work</option>
                            <option value="4">Shopping</option>
                            <option value="5">Others</option>
                        </select>
                      </div>
                    <div class="form-group">
                        <label>Priority as</label>
                        <select class="mdb-select md-form form-control" id="Priority"  name="label" #label="ngModel" [(ngModel)]="todo.label"  required>
                            <option value="" disabled selected>Set Priority As</option>
                            <option value="1">High</option>
                            <option value="3">Medium</option>
                            <option value="2">Low</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Remind">Remind</label>
                        <input id="Remind" type="datetime-local" class="form-control " name="Remind" #Remind="ngModel" [(ngModel)]="todo.Remind" required >
                      </div>
                      <div class="form-group">
                        <label for="DueDate">DueDate</label>
                        <input id="DueDate" type="datetime-local" class="form-control " name="DueDate" #DueDate="ngModel" [(ngModel)]="todo.DueDate" required >
                      </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-secondary btn-sm mr-5 " data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
                        <button class="btn btn-info  btn-submit center-block" type="submit" ><span class="fa fa-pencil-square-o"></span> Update my Todo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="todoCreateModal"  class="modal fade" role="dialog">
    <div class="modal-dialog " role="content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">To-Do Create </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container" *ngIf="token == false">
                    <div class="row row-content">
                        <h4>Seems Like You arent Logged in</h4>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-info center-block mr-5" data-toggle="modal" data-target="#todoLogin" data-dismiss="modal"><span class="fa fa-sign-in"></span> Login</button>
                        <button type="button" class="btn btn-info  center-block" data-toggle="modal" data-target="#todoRegistrationForm" data-dismiss="modal" ><span class="fa fa-user"></span> Sign-Up</button>
                    </div>

                </div>

                <form *ngIf="token == true" #todoCreateForm="ngForm" (ngSubmit)="OnSubmit1(todoCreateForm)">
                    <div class="form-group">
                      <label for="Title">Title</label>
                      <input id="Title" type="text" class="form-control " name="Title" #Title="ngModel" [(ngModel)]="todonew.Title" required >
                    </div>
                    <div class="form-group">
                        <label for="Description"> Description</label>
                        <textarea id="Description" class=" form-control " row="4" type="text" name="Description" #Description="ngModel" [(ngModel)]="todonew.Description" required  ></textarea>
                    </div>                   
                    <div class="form-group">
                        <label for="">Status as</label>
                        <select class="mdb-select md-form form-control"  name="Status" #Status="ngModel" [(ngModel)]="todonew.Status" required>
                            <option value="" disabled selected>Set Status As</option>
                            <option value="1">Start</option>
                            <option value="3">OnGoing</option>
                            <option value="2">Done</option>
                        </select>
                      </div>                        
                    <div class="form-group">
                        <label for="">Tag As</label>
                        <select class="mdb-select md-form form-control"  name="Color" #Color="ngModel" [(ngModel)]="todonew.Color" required>
                            <option value="" disabled selected>Set Tag As</option>
                            <option value="1">Personal</option>
                            <option value="2">Professional</option>
                            <option value="3">Work</option>
                            <option value="4">Shopping</option>
                            <option value="5">Others</option>
                        </select>
                      </div>
                    <div class="form-group">
                        <label>Priority as</label>
                        <select class="mdb-select md-form form-control"  name="label" #label="ngModel" [(ngModel)]="todonew.label"  required>
                            <option value="" disabled selected>Set Priority As</option>
                            <option value="1">High</option>
                            <option value="3">Medium</option>
                            <option value="2">Low</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Remind">Remind</label>
                        <input id="Remind" type="datetime-local" class="form-control " name="Remind" #Remind="ngModel" [(ngModel)]="todo.Remind" required >
                      </div>
                      <div class="form-group">
                        <label for="DueDate">DueDate</label>
                        <input id="DueDate" type="datetime-local" class="form-control " name="DueDate" #DueDate="ngModel" [(ngModel)]="todo.DueDate" required >
                      </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-secondary center-block mr-5 " data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
                        <button type="submit"  class="btn btn-info  btn-submit center-block" type="submit"><span class="fa fa-plus"></span> Create a To-Do</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="todoLogin"  class="modal fade" role="dialog">
    <div class="modal-dialog" role="content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">To-Do Login </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" *ngIf= "Loginerror.response == 'Error' ">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><strong> Warning ! </strong> {{Loginerror.error_message}}
                </div>
                <form *ngIf="token == false"  [class]="condition == true ? 'was-validated' : 'needs-validation'" novalidate #loginForm="ngForm" (ngSubmit)="OnSubmit2(username.value,password.value)">
                    <div class="form-group">
                        <label for="username1"><i class="fa fa-user-o" aria-hidden="true"></i>  Username</label>
                        <input id="username1" type="text" class="form-control"  #username ngModel name="username" placeholder="username" [pattern]="userpattern"required >
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Use lowercase .</div>                    
                    </div>
                             
                    <div class="form-group">
                        <label for="password1"><i class="fa fa-key" aria-hidden="true"></i>  Password</label>
                        <input id="password1" type="password" class="form-control" #password ngModel name="password" placeholder="Password"  required>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please fill out this field .</div>                    
                    </div>
                      <div class="form-group text-center">
                        <button type="button" class="btn btn-secondary center-block  mr-5 " data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
                        <button type="submit" class="btn btn-submit btn-info center-block" type="submit"><span class="fa fa-sign-in"></span> Login</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="todoRegistrationForm"  class="modal fade" role="dialog">
    <div class="modal-dialog " role="content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">To-Do Sign Up </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" *ngIf= "passwordMatch == 'Unmatched' ">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><strong> Warning ! </strong> Password do not match 
                </div>
                <div class="alert alert-warning" *ngIf= "signuperror.response == '401' ">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><strong> Warning ! </strong> A user with that username already exists
                </div>
                <div class="alert alert-warning" *ngIf= "signuperror.response == '403' ">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><strong> Warning ! </strong>{{signuperror.error_message}} 
                </div>
                 <div class="alert alert-success"  *ngIf= "signupSuccess.response == '201' ">
                    <i class="fa fa-check" aria-hidden="true"></i><strong> Success ! </strong>Proceed to Login .                 
                    <button type="button" data-toggle="modal" data-target="#todoLogin" data-dismiss="modal" class="btn btn-success btn-sm ml-5 " >Login</button>
                </div>
                <form *ngIf="token == false" [class]="condition1 == true ? 'was-validated' : 'needs-validation'" novalidate #todoRegistrationForm="ngForm" (ngSubmit)="OnSubmit0(todoRegistrationForm)">
                    <div class="form-group">
                      <label for="email"><i class="fa fa-envelope-o" aria-hidden="true"></i>  Email</label>
                      <input id="email" type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern" placeholder="Enter Email" required >
                      <div class="valid-feedback"></div>
                      <div class="invalid-feedback">Invalid Email</div>
                    </div>
                    <div class="form-group">
                        <label for="username"><i class="fa fa-user-o" aria-hidden="true"></i>  Username</label>
                        <input id="username" class=" form-control " type="text" name="username" #username="ngModel" [(ngModel)]="user.username" placeholder="Enter Username" required [pattern]="userpattern" >
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please fill out this field .</div>
                      </div>                      
                    <div class="form-group">
                        <label for="password"><i class="fa fa-key" aria-hidden="true"></i>  Password</label>
                        <input id="password" type="password" class="form-control " name="password" #password="ngModel" [(ngModel)]="user.password"  required placeholder="Password">
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please fill out this field .</div>                          
                    </div>
                    <div class="form-group">
                        <label for="confirm_password"><i class="fa fa-key" aria-hidden="true"></i>  Confirm Password</label>
                        <input id="confirm_password" type="password" class="form-control" name="confirm_password" #confirm_password="ngModel" [(ngModel)]="user.confirm_password" required placeholder="Confirm Password">
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please fill out this field .</div>                          
                    </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-secondary  center-block mr-5 " data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
                        <button  class="btn btn-info  btn-submit center-block" type="submit"><span class="fa fa-user"></span> Sign-Up</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

<footer class="footer bg-info">
       <div class="row justify-content-center" style="margin-right: 0px;">             
            <div class="col-auto">
                <p>© Powered by Stackhack</p>
            </div>
       </div>
</footer>