/* You can add global styles to this file, and also import other style files */
.navbar-dark {
    background-color: #169DB2;
  }
  .row-header {
    margin: 0px auto;
    padding: 0px 0px;
  }
  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
  }
  footer {
    margin: 0px 0px;
    padding: 20px 0px 0px 0px;
  }
img.d-block {
  width: 850px;
  max-height: 350px;
  margin-left: auto;
  margin-right: auto;
}
  li.nav-item{
    cursor: pointer;
  }
div.carousel-item.active{
  background-image: linear-gradient(235deg, black,#021B66);
  max-width: 1000;
  margin-left: auto;
  margin-right: auto;

}
p{
  text-transform: capitalize;
}
  header.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    color: floralwhite;
  }
  body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
  }
  .modal-header {
    background-color:  #169DB2;
    color: floralwhite;
  }
  .modal {
    border: #169DB2;
  }

.modal-body {
    color:  #169DB2;
}
.card-header {
  background-color:  #169DB2;
  color: floralwhite;
}
